{% extends 'myapp/base.html' %}

{% block content %}

<div class="container" style="margin-bottom: 100px">
<h2>เพี่มสีนค้าในระบบ</h2>
  <p>คุณสามารเพี่มสีนค้าเย้าไปในระบบได้(เฉพาะเเอดมิน)</p>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
      <label for="name">ชื้อสินค้า:</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="form-group">
      <label for="price">ราคาสินค้า:</label>
      <input type="text" class="form-control" id="price" name="price">
    </div>

    <div class="form-group">
  <label for="detail">Comment:</label>
  <textarea class="form-control" rows="5" id="detail" name="detail"></textarea>
</div>

  <div class="form-group">
      <label for="imgeurl">URL รูปสินค้า:</label>
      <input type="text" class="form-control" id="imgeurl" name="imgeurl">
    </div> 

     <div class="form-group">
      <label for="quantuty">จำนวนสินค้า</label>
      <input type="text" class="form-control" id="quantuty" name="quantuty">
    </div>

     <div class="form-group">
      <label for="unit">หน่วยสินค้า</label>
      <input type="text" class="form-control" id="unit" name="unit">
    </div>


     <div class="form-group">
      <label for="imageupload">เลือกรูปสินค้า</label>
      <input type="file" class="form-control" id="imageupload" name="imageupload">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
{% endblock content %}