{% extends 'myapp/base.html' %}

{% block content %}
    
       <h3>สินค้าล่าสุด</h3> 
<p>สีนค้าล่าสุดในร้าน</p>
<dir class="container-fluid">
  <div class="row">
    {% for pd in product %}
    <dir class="col-sm-4">
          <div class="card" style="width:300px; height: 550px">

            {% if pd.image %}
                <img class="card-img-top" src="{{ pd.img.url }}" width="400" style="width: 300px; height: 200px; overflow: hidden;">
                {% elif pd.imageurl != None %}

                 <img class="card-img-top" src="{{ pd.imgurl }}" width="400" style="width: 300px; height: 200px; overflow: hidden;" >


                {% else %}
                <img class="card-img-top" src="/mmedia/default.png" width="400" style="width: 300px; height: 200px; overflow: hidden;" >
                {% endif %}
                 <div class="card-body">
                <h1 class="card-title">{{ pd.name }}</h1>
                <p>ราคา{{ pd.price }}บาท/ {{ pd.unit }} </p>
                <p>{{pd.detail|truncatechars_html:50}}</p>
                {% if pd.quantity > 0 %}
                     <p> สินค้ามีในสต็อก: {{ pd.quantity }} {{ pd.unit }}</p>
                {% else %}
                     <p><font color="red"> สินค้าอาจจะหมดสต็อก กรุนาติดต่อเเอดมีน</font> </p>
                {% endif %}

                {% if pd.instock == True %}
                <a href="#" class="btn btn-success" >สั่งชื้อ</a>
                {% else %}
                <a href="#" class="btn btn-danger" >สีนค้าหมดเเล้ว</a>
                {% endif %}
                </div>
                  
           </div>     
          <br><br>
    </dir>      

    {% endfor %}

    </div>
</dir>

    <div class="container">
      <center> <a href="{% url 'allproduct-page' %}" ><h1>ดูสีนค้าทั้งหมด</h1></a></center>
      <hr>
    </div>


      <h3>สินค้าขายดี(ต้องpreoder)</h3> 
<p>preoder ล่วงหน้า 20 วัน</p>
<dir class="container-fluid">
  <div class="row">
    {% for pd in preoder %}
    <dir class="col-sm-4">
          <div class="card" style="width:300px; height: 550px">

            {% if pd.image %}
                <img class="card-img-top" src="{{ pd.img.url }}" width="400" style="width: 300px; height: 200px; overflow: hidden;">
                {% elif pd.imageurl != None %}

                 <img class="card-img-top" src="{{ pd.imgurl }}" width="400" style="width: 300px; height: 200px; overflow: hidden;" >


                {% else %}
                <img class="card-img-top" src="/mmedia/default.png" width="400" style="width: 300px; height: 200px; overflow: hidden;" >
                {% endif %}
                 <div class="card-body">
                <h1 class="card-title">{{ pd.name }}</h1>
                <p>ราคา{{ pd.price }}บาท/ {{ pd.unit }} </p>
                <p>{{pd.detail|truncatechars_html:50}}</p>
                {% if pd.quantity > 0 %}
                     <p> สินค้ามีในสต็อก: {{ pd.quantity }} {{ pd.unit }}</p>
                {% else %}
                     <p><font color="red"> สินค้าอาจจะหมดเเล้ว preoderได้</font> </p>
                     <a href="#" class="btn btn-danger" >Pre-Oder</a>
                {% endif %}
                </div>
                  
           </div>     
          <br><br>
    </dir>      

    {% endfor %}

    </div>
</dir>

{% endblock content %}








