{% extends 'myapp/base.html' %}
{% load humanize %}
{% block content %}

{% if status == 'delete' %}
 <div class="alert alert-danger">
    <strong>การลบสีนค้าเรียบร้วยเเล้ว!</strong> หากต้องการเพีม กรุณาสั่งชือใหม่
  </div>
 {% endif %}
<br>



<div class="container">
  <h2>เเก้ไขข้อมูลในตะกร้าสีนค้า</h2>
  <p>ท่านสามารเเก้ไขข้อมูลในตระกร้าสีนค้า:</p>            

    <form method="POST" id="formsave">
    {% csrf_token %}
    <table class="table">
    <thead>
      <tr>
        <th>รหัส</th>
        <th>สีนค้า</th>
        <th>ราคา</th>
        <th>จำนวน</th>
        <th>ลบ</th>
      </tr>
    </thead>
    <tbody>
	{% for pd in mycart %}
	      <tr>  
	        <td>{{pd.productid}}</td>
	        <td>{{pd.productname}}</td>
	        <td>{{pd.price|intcomma}}</td>
	        <td><input type="text" name="pd_{{pd.productid}}" value="{{pd.quantity}}"></td>

          <th>
            -
	        </th>

	      </tr>
	{% endfor %}
    </tbody>
  </table>
            <input type="hidden" name="checksave" value="{{checksave}}">
           
            

          </form>
          <div class="row">
           <button type="submit" form="formsave"class="btn btn-primary" >ทันทึก</button>
           <div style="padding: 10px;"></div>
          <form id="formclear" method="POST" onsubmit="return confirm('ยืนยังการลบสีนค้าทั้งหมด หรือไม่?');">
             {% csrf_token %}
          <input type="hidden" name="clear" value="clear">
            <button type="submit" form="formclear"class="btn btn-danger" >ลบสีนค้าในตระกร้าทั้งหมด</button>
            </form>
            </div>


</div>


{% endblock content %}